---
http_interactions:
- request:
    method: post
    uri: https://api.foursquare.com/v2/checkins/add?oauth_token=UJ4S0DJFXU00KFVFF1T4CX5FNFFD4JOSIVT52HGPM3YXC2OV&venueId=1234&broadcast=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '500'
      x-ratelimit-remaining:
      - '499'
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"errorType":"deprecated","errorDetail":"Please
        provide an API version to avoid future errors.See http:\/\/bit.ly\/vywCav"},"notifications":[{"type":"notificationTray","item":{"unreadCount":0}},{"type":"message","item":{"message":"OK!
        We''ve got you @ Bar 29. You''ve been here 2 times."}},{"type":"mayorship","item":{"type":"nochange","checkins":5,"user":{"id":"15877075","firstName":"Jesse","lastName":"L.","photo":"https:\/\/is0.4sqi.net\/userpix_thumbs\/2BV3O3VT1YIWNWMC.jpg","tips":{"count":2},"gender":"male","homeCity":"NY","bio":"","contact":{}},"message":"Jesse
        L. is mayor of Bar 29","image":"https:\/\/is0.4sqi.net\/userpix_thumbs\/2BV3O3VT1YIWNWMC.jpg"}},{"type":"tip","item":{"tip":{"id":"4cde0bb8f8a4a1435f96d4bc","createdAt":1289620408,"text":"A
        crazy fun bar. Make sure Lauren is bartending. She''s amazing and the hottest
        thing to happen to Bar 29.","todo":{"count":0},"done":{"count":4},"user":{"id":"1101229","firstName":"Matty","lastName":"M.","photo":"https:\/\/is0.4sqi.net\/userpix_thumbs\/4DM1YLZYP0G2ORTR.jpg","tips":{"count":6},"gender":"male","homeCity":"New
        York, NY","bio":"","contact":{"twitter":"mattymagnin","facebook":"64200556"}}},"name":"Popular
        tip"}},{"type":"leaderboard","item":{"leaderboard":[{"user":{"id":"20566366","firstName":"RebelHold","lastName":"Test","relationship":"self","photo":"https:\/\/is1.4sqi.net\/userpix_thumbs\/Q0VE5U4RDXS52EU1.png","tips":{"count":0},"lists":{"groups":[{"type":"created","count":1,"items":[]}]},"gender":"male","homeCity":"Phoenix","bio":"","contact":{"email":"test@rebelhold.com"}},"scores":{"recent":1,"max":41,"goal":50,"checkinsCount":1},"rank":1}],"scores":[{"points":1,"icon":"https:\/\/foursquare.com\/img\/points\/defaultpointsicon2.png","message":"Every
        check-in counts!"}],"total":1}},{"type":"score","item":{"scores":[{"points":1,"icon":"https:\/\/foursquare.com\/img\/points\/defaultpointsicon2.png","message":"Every
        check-in counts!"}],"total":1}}],"response":{"checkin":{"id":"4fc909cee4b090ae8f84edf5","createdAt":1338575310,"type":"checkin","timeZone":"America\/New_York","timeZoneOffset":-240,"venue":{"id":"3fd66200f964a52060e71ee3","name":"Bar
        29","contact":{"phone":"2127790306","formattedPhone":"(212) 779-0306"},"location":{"address":"405
        Third Avenue","crossStreet":"btw 28th and 29th St","lat":40.742407,"lng":-73.980599,"postalCode":"10016","city":"New
        York","state":"NY","country":"United States"},"categories":[{"id":"4bf58dd8d48988d116941735","name":"Bar","pluralName":"Bars","shortName":"Bar","icon":"https:\/\/foursquare.com\/img\/categories\/nightlife\/bar.png","parents":["Nightlife
        Spots"],"primary":true}],"verified":true,"stats":{"checkinsCount":2239,"usersCount":1438,"tipCount":24},"beenHere":{"count":0}},"photos":{"count":0,"items":[]},"comments":{"count":0,"items":[]},"source":{"name":"wayfaring","url":"http:\/\/rebelhold.com"}}}}'
  recorded_at: Fri, 01 Jun 2012 18:28:34 GMT
- request:
    method: post
    uri: https://graph.facebook.com/me/checkins?oauth_token=BAAErTBz7PZB0BAMLiGa1zq1CYA9sflZCkZA66L0TVdpH2p73xWK3VqvYrRIkzR23n6PmvI4cyqZBMvTMpYY0iARqOVowEz0tiZBcVRE0QoSrPG4wYAY9fj40dvIluyL4xng9DjJ3RqgZDZD&place=111871368829109&coordinates[latitude]=40.69994125694707&coordinates[longitude]=73.99903456915965
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"245093738932387"}'
  recorded_at: Fri, 01 Jun 2012 18:28:36 GMT
recorded_with: VCR 2.2.0
