---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: code=kACAH-1Ng3OEr13RvC6Rrz_huYIDgr0oAa-HhoKMy_a0T9u2oTZywCR0oJ8y7Yd_LKz_I1-hfK3xsKm9fJBGFiynv1GXiuQ17Cqv511A8arOg5KXXmToyC5WLU&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fproviders%2Fgoogle%2Foauth&client_id=810357465890.apps.googleusercontent.com&client_secret=--L1_mB53ldqyy0GIYbox0jC
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\" : \"invalid_grant\"\n}"
  recorded_at: Fri, 01 Jun 2012 18:28:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/oauth2/v1/userinfo?access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      www-authenticate:
      - GoogleLogin realm="https://www.google.com/accounts/ClientLogin", service="lso"
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"com.google.auth\",\n
        \   \"reason\": \"invalidAuthentication\",\n    \"message\": \"invalid header\",\n
        \   \"locationType\": \"header\",\n    \"location\": \"Authorization\"\n   }\n
        \ ],\n  \"code\": 401,\n  \"message\": \"invalid header\"\n }\n}\n"
  recorded_at: Fri, 01 Jun 2012 18:28:29 GMT
recorded_with: VCR 2.2.0
