---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/search?ll=40.7,-74&client_id=O404ID53WH5LHFKJOOKQPLQU5VCXPFFNZGPIVC5V2ZYRNMT1&client_secret=IJV4ZKL1UDTYVNB3XIBD0F1IDKRMKFUPWXQ3A522XUPFBDF4&v=20120424
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200},"response":{"venues":[{"id":"4f7b7b18e4b043bd2ab966f7","name":"Salud
        Restaurant","contact":{},"location":{"address":"Beekman Place","lat":40.70048281569655,"lng":-73.99964286682906,"distance":61,"postalCode":"10022","city":"New
        York City","state":"NY","country":"United States"},"categories":[{"id":"4bf58dd8d48988d1be941735","name":"Latin
        American Restaurant","pluralName":"Latin American Restaurants","shortName":"Latin
        American","icon":{"prefix":"https:\/\/foursquare.com\/img\/categories\/food\/default_","sizes":[32,44,64,88,256],"name":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":3,"usersCount":3,"tipCount":1},"specials":{"count":0,"items":[]},"hereNow":{"count":0,"groups":[]}},{"id":"42377700f964a52024201fe3","name":"Brooklyn
        Heights Promenade","contact":{},"location":{"address":"Columbia Heights","crossStreet":"btwn
        Remsen & Orange","lat":40.69829137715981,"lng":-73.99663209915161,"distance":342,"postalCode":"11201","city":"Brooklyn","state":"NY","country":"United
        States"},"categories":[{"id":"4bf58dd8d48988d163941735","name":"Park","pluralName":"Parks","shortName":"Park","icon":{"prefix":"https:\/\/foursquare.com\/img\/categories\/parks_outdoors\/default_","sizes":[32,44,64,88,256],"name":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":9476,"usersCount":4439,"tipCount":59},"specials":{"count":0,"items":[]},"hereNow":{"count":1,"groups":[{"type":"others","name":"Other
        people here","count":1,"items":[]}]}},{"id":"4dbd86d243a1d8504ba74df3","name":"Five
        Boro Bike - Con Ed Rest Stop","contact":{},"location":{"lat":40.69745380465409,"lng":-73.99801308382229,"distance":329,"state":"NY","country":"United
        States"},"categories":[{"id":"4d4b7105d754a06377d81259","name":"Great Outdoors","pluralName":"Great
        Outdoors","shortName":"Parks & Outdoors","icon":{"prefix":"https:\/\/foursquare.com\/img\/categories\/parks_out[...]
- request:
    method: get
    uri: https://graph.facebook.com/search?center=40.7,-74&distance=1000&type=place&access_token=BAAErTBz7PZB0BAMLiGa1zq1CYA9sflZCkZA66L0TVdpH2p73xWK3VqvYrRIkzR23n6PmvI4cyqZBMvTMpYY0iARqOVowEz0tiZBcVRE0QoSrPG4wYAY9fj40dvIluyL4xng9DjJ3RqgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      etag:
      - ! '"c2937b826218698142504527acc17e2433707bee"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"name":"Brooklyn Bridge","category":"Interest","location":{"city":"New
        York","state":"NY","country":"United States","zip":"10005","latitude":40.707681252133,"longitude":-73.999729093941},"id":"111871368829109"},{"name":"South
        Street Seaport","category":"Attractions\/things to do","location":{"street":"19
        Fulton Street, suite 201","city":"New York","state":"NY","country":"United
        States","zip":"10038","latitude":40.705808301665,"longitude":-74.002875279914},"id":"20796366834"},{"name":"Grimaldi''s
        Pizza","category":"Local business","location":{"street":"19 Old Fulton Street","city":"Brooklyn","state":"NY","country":"United
        States","zip":"11201","latitude":40.702618465523,"longitude":-73.993703713921},"id":"143993815634140"},{"name":"American
        Foundation f[...]
