---
http_interactions:
- request:
    method: post
    uri: https://api.foursquare.com/v2/checkins/add?oauth_token=&venueId=1234&broadcast=public
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":400,"errorType":"invalid_auth","errorDetail":"Missing
        access credentials. See https:\/\/developer.foursquare.com\/docs\/oauth.html
        for details."},"response":{}}'
  recorded_at: Fri, 03 Aug 2012 21:11:41 GMT
- request:
    method: post
    uri: https://graph.facebook.com/me/checkins?oauth_token=&place=111871368829109&coordinates[latitude]=40.69994125694707&coordinates[longitude]=73.99903456915965
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      www-authenticate:
      - OAuth "Facebook Platform" "invalid_request" "An active access token must be
        used to query information about the current user."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"An active access token must be used to query
        information about the current user.","type":"OAuthException","code":2500}}'
  recorded_at: Fri, 03 Aug 2012 21:11:45 GMT
recorded_with: VCR 2.2.4
