---
http_interactions:
- request:
    method: post
    uri: https://api.foursquare.com/v2/checkins/add?oauth_token=&venueId=1234&broadcast=public
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":400,"errorType":"invalid_auth","errorDetail":"Missing
        access credentials. See https:\/\/developer.foursquare.com\/docs\/oauth.html
        for details."},"response":{}}'
  recorded_at: Fri, 03 Aug 2012 21:11:41 GMT
- request:
    method: post
    uri: https://graph.facebook.com/me/checkins?oauth_token=&place=111871368829109&coordinates[latitude]=40.69994125694707&coordinates[longitude]=73.99903456915965
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      www-authenticate:
      - OAuth "Facebook Platform" "invalid_request" "An active access token must be
        used to query information about the current user."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"An active access token must be used to query
        information about the current user.","type":"OAuthException","code":2500}}'
  recorded_at: Fri, 03 Aug 2012 21:11:45 GMT
- request:
    method: post
    uri: https://api.foursquare.com/v2/checkins/add?oauth_token=SMLUY34ML3BQOWQGK5JA3Z225ZMV4EMZRQHJO3HHTHWIBMO5&venueId=1234&broadcast=public
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '1000'
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"errorType":"deprecated","errorDetail":"Please
        provide an API version to avoid future errors.See http:\/\/bit.ly\/vywCav"},"notifications":[{"type":"notificationTray","item":{"unreadCount":0}},{"type":"message","item":{"message":"OK!
        We''ve got you @ Bar 29. You''ve been here 1 time."}},{"type":"mayorship","item":{"type":"nochange","checkins":4,"user":{"id":"11771456","firstName":"David","lastName":"L.","photo":"https:\/\/is0.4sqi.net\/userpix_thumbs\/TLOWVN0NS34F1LML.jpg","tips":{"count":0},"gender":"male","homeCity":"NY","bio":"","contact":{}},"message":"David
        L. is mayor of Bar 29","image":"https:\/\/is0.4sqi.net\/userpix_thumbs\/TLOWVN0NS34F1LML.jpg"}},{"type":"badge","item":{"badge":{"id":"4c4f08667a0803bbb3202ab7","name":"School
        Night","description":"Checking in after 3am on a school night? Well done!","image":{"prefix":"https:\/\/playfoursquare.s3.amazonaws.com\/badge\/","sizes":[57,114,300,200,400],"name":"\/schoolnight.png"}}}},{"type":"badge","item":{"badge":{"id":"4c4f08667a0803bbaa202ab7","name":"Newbie","description":"Your
        first check-in! You earn badges for your adventures, like staying out late
        or trying 5 different pizza joints. And with every check-in, we learn more
        about your tastes and can recommend new places. Head over to the Explore tab
        to see our suggestions!","image":{"prefix":"https:\/\/playfoursquare.s3.amazonaws.com\/badge\/","sizes":[57,114,300,200,400],"name":"\/newbie.png"}}}},{"type":"tip","item":{"tip":{"id":"4cde0bb8f8a4a1435f96d4bc","createdAt":1289620408,"text":"A
        crazy fun bar. Make sure Lauren is bartending. She''s amazing and the hottest
        thing to happen to Bar 29.","likes":{"count":3,"groups":[],"summary":"3 likes"},"like":false,"todo":{"count":0},"done":{"count":4},"user":{"id":"1101229","firstName":"Matty","lastName":"M.","photo":"https:\/\/is0.4sqi.net\/userpix_thumbs\/4DM1YLZYP0G2ORTR.jpg","tips":{"count":6},"gender":"male","homeCity":"New
        York, NY","bio":"","contact":{"twitter":"mattymagnin","facebook":"64200556"}}},"name":"Popular
        tip"}},{"type":"leaderboard","item":{"leaderboard":[{"user":{"id":"34058252","firstName":"Test","lastName":"User","relationship":"self","photo":"https:\/\/foursquare.com\/img\/blank_boy.png","tips":{"count":0},"lists":{"groups":[{"type":"created","count":1,"items":[]}]},"gender":"male","homeCity":"Tempe","bio":"","contact":{"email":"test@zambonidev.com"}},"scores":{"recent":5,"max":5,"goal":50,"checkinsCount":1},"rank":1}],"message":"Nice
        check-in! You just hit a new high score!","scores":[{"points":5,"icon":"https:\/\/foursquare.com\/img\/points\/foursquare.png","message":"Welcome
        to foursquare and congrats on your first check-in!"}],"total":5}},{"type":"score","item":{"scores":[{"points":5,"icon":"https:\/\/foursquare.com\/img\/points\/foursquare.png","message":"Welcome
        to foursquare and congrats on your first check-in!"}],"total":5}}],"response":{"checkin":{"id":"5022230fe4b05f49ada3ce48","createdAt":1344414479,"type":"checkin","timeZone":"America\/New_York","timeZoneOffset":-240,"venue":{"id":"3fd66200f964a52060e71ee3","name":"Bar
        29","contact":{"phone":"2127790306","formattedPhone":"(212) 779-0306"},"location":{"address":"405
        Third Avenue","crossStreet":"btw 28th and 29th St","lat":40.742407,"lng":-73.980599,"postalCode":"10016","city":"New
        York","state":"NY","country":"United States","cc":"US"},"categories":[{"id":"4bf58dd8d48988d116941735","name":"Bar","pluralName":"Bars","shortName":"Bar","icon":"https:\/\/foursquare.com\/img\/categories\/nightlife\/bar.png","parents":["Nightlife
        Spots"],"primary":true}],"verified":true,"stats":{"checkinsCount":2392,"usersCount":1525,"tipCount":24},"likes":{"count":0,"groups":[]},"beenHere":{"count":0}},"likes":{"count":0,"groups":[]},"photos":{"count":0,"items":[]},"comments":{"count":0,"items":[]},"source":{"name":"Wayfaring-Testing","url":"http:\/\/wayfaringapp.com"}}}}'
  recorded_at: Wed, 08 Aug 2012 08:28:05 GMT
- request:
    method: post
    uri: https://graph.facebook.com/me/checkins?oauth_token=AAAFkZCt1PRCgBAL7ZB6EuEHGBScnBULkNMmrWtWWVqx3v5P2UT0KzPUU1iz0K7dc7rJZC8QIt3BRdQBP0hLEgUzGLhJQwKSGQIrp7oOQgZDZD&place=111871368829109&coordinates[latitude]=40.69994125694707&coordinates[longitude]=73.99903456915965
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"106436076170925"}'
  recorded_at: Wed, 08 Aug 2012 08:28:24 GMT
recorded_with: VCR 2.2.4
