---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/search?center=40.7,-74&distance=1000&type=place&access_token=BAAErTBz7PZB0BAMLiGa1zq1CYA9sflZCkZA66L0TVdpH2p73xWK3VqvYrRIkzR23n6PmvI4cyqZBMvTMpYY0iARqOVowEz0tiZBcVRE0QoSrPG4wYAY9fj40dvIluyL4xng9DjJ3RqgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      etag:
      - ! '"d044e0017e2072a749bc0ea42bf5854627bbfc75"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"name":"Brooklyn Bridge","category":"Interest","location":{"city":"Brooklyn","state":"NY","country":"United
        States","zip":"10005","latitude":40.707229324027,"longitude":-73.99889515333},"id":"111871368829109"},{"name":"South
        Street Seaport","category":"Attractions\/things to do","location":{"street":"19
        Fulton Street, suite 201","city":"New York","state":"NY","country":"United
        States","zip":"10038","latitude":40.705709576519,"longitude":-74.002801568236},"id":"20796366834"},{"name":"Grimaldi''s
        Pizza","category":"Local business","location":{"street":"19 Old Fulton Street","city":"Brooklyn","state":"NY","country":"United
        States","zip":"11201","latitude":40.702618465523,"longitude":-73.993703713921},"id":"143993815634140"},{"name":"UNICEF
        USA","category[...]
