---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/search?center=40.7,-74&distance=1000&type=place&access_token=BAAErTBz7PZB0BAMLiGa1zq1CYA9sflZCkZA66L0TVdpH2p73xWK3VqvYrRIkzR23n6PmvI4cyqZBMvTMpYY0iARqOVowEz0tiZBcVRE0QoSrPG4wYAY9fj40dvIluyL4xng9DjJ3RqgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      etag:
      - ! '"d044e0017e2072a749bc0ea42bf5854627bbfc75"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"name":"Brooklyn Bridge","category":"Interest","location":{"city":"Brooklyn","state":"NY","country":"United
        States","zip":"10005","latitude":40.707229324027,"longitude":-73.99889515333},"id":"111871368829109"},{"name":"South
        Street Seaport","category":"Attractions\/things to do","location":{"street":"19
        Fulton Street, suite 201","city":"New York","state":"NY","country":"United
        States","zip":"10038","latitude":40.705709576519,"longitude":-74.002801568236},"id":"20796366834"},{"name":"Grimaldi''s
        Pizza","category":"Local business","location":{"street":"19 Old Fulton Street","city":"Brooklyn","state":"NY","country":"United
        States","zip":"11201","latitude":40.702618465523,"longitude":-73.993703713921},"id":"143993815634140"},{"name":"UNICEF
        USA","category[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/search?ll=40.7,-74&client_id=YUORTWIN2CBQWOQWLRZLKU0CLL5KHJC2OO0TDXJZCRELNXIL&client_secret=XVKHJQE5KIUUVX24FFLPQAMZWWT2UA2AAFYAR0X40JP2UIBV&v=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":400,"errorType":"param_error","errorDetail":"Value  is
        invalid for v"},"response":{}}'
  recorded_at: Tue, 24 Jul 2012 06:15:47 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/search?ll=40.7,-74&client_id=YUORTWIN2CBQWOQWLRZLKU0CLL5KHJC2OO0TDXJZCRELNXIL&client_secret=XVKHJQE5KIUUVX24FFLPQAMZWWT2UA2AAFYAR0X40JP2UIBV&v=20120723
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '1000'
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200},"response":{"venues":[{"id":"42377700f964a52024201fe3","name":"Brooklyn
        Heights Promenade","contact":{},"location":{"address":"Columbia Heights","crossStreet":"btwn
        Remsen & Orange","lat":40.69829137715981,"lng":-73.99663209915161,"distance":342,"postalCode":"11201","city":"Brooklyn","state":"NY","country":"United
        States","cc":"US"},"categories":[{"id":"4bf58dd8d48988d163941735","name":"Park","pluralName":"Parks","shortName":"Park","icon":{"prefix":"https:\/\/foursquare.com\/img\/categories_v2\/parks_outdoors\/park_","suffix":".png"},"primary":true}],"verified":false,"stats":{"checkinsCount":10564,"usersCount":4980,"tipCount":64},"likes":{"count":0,"groups":[]},"specials":{"count":0,"items":[]},"hereNow":{"count":0,"groups":[]},"referralId":"v-1343348211"},{"id":"430d0a00f964a5203e271fe3","name":"Brooklyn
        Bridge Park","contact":{"phone":"2128033822","formattedPhone":"(212) 803-3822","twitter":"bbpconservancy"},"location":{"address":"Main
        St.","crossStreet":"Plymouth St.","lat":40.701593743002,"lng":-73.99592399597168,"distance":387,"postalCode":"11201","city":"Brooklyn","state":"NY","country":"United
        States","cc":"US"},"categories":[{"id":"4bf58dd8d48988d163941735","name":"Park","pluralName":"Parks","shortName":"Park","icon":{"prefix":"https:\/\/foursquare.com\/img\/categories_v2\/parks_outdoors\/park_","suffix":".png"},"primary":true}],"verified":true,"stats":{"checkinsCount":11913,"usersCount":7526,"tipCount":76},"likes":{"count":0,"groups":[]},"specials":{"count":0,"items":[]},"hereNow":{"count":16,"groups":[{"type":"others","name":"Other
        people here","count":16,"items":[]}]},"referralId":"v-1343348211"},{"id":"4fe38c7be4b02bc5529cefdd","name":"Photoville","contact":{},"location":{"address":"Brooklyn
        Bridge Park","crossStreet":"Pier 3","lat":40.69778830315359,"lng":-73.99791552594898,"distance":302,"postalCode":"11201","city":"Brooklyn","state":"NY","country":"United
        States","cc":"US"},"categories":[{"id":"4bf58dd8d48988d1e2931735","name":"Art
        Gallery","pluralName":"Art Galle[...]
- request:
    method: get
    uri: https://graph.facebook.com/search?center=40.7,-74&distance=1000&type=place&access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      www-authenticate:
      - OAuth "Facebook Platform" "invalid_token" "An access token is required to
        request this resource."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"An access token is required to request this
        resource.","type":"OAuthException","code":104}}'
  recorded_at: Fri, 27 Jul 2012 00:16:55 GMT
- request:
    method: get
    uri: https://graph.facebook.com/search?center=40.7,-74&distance=1000&type=place&access_token=AAAFkZCt1PRCgBAL7ZB6EuEHGBScnBULkNMmrWtWWVqx3v5P2UT0KzPUU1iz0K7dc7rJZC8QIt3BRdQBP0hLEgUzGLhJQwKSGQIrp7oOQgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      etag:
      - ! '"58b3f918715691a9bd6f7d37312458c8b0f64de0"'
[...]
